@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Noto Sans TC';
  background-color: black;
}

.wraper {
  margin: 0 auto;
  padding: 2%;
}

.header {
  max-width: 1298px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  position: relative;
  font-size: 40p;
}

.navbar li a {
  color: white;
}

.navbar li a:hover {
  color: white;
}

.navbar li.logo {
  display: block;
  flex: 1;
}

.navbar li.logo img {
  width: 200px;
}

.navbar li.menu {
  width: 60px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  text-align: right;
  font-size: 25px;
}

.navbar li.menu:hover {
  color: white;
}


.navbar.active {
  display: block;
  background-color: white;
  color: black;
}

.ai-tool h1 {
  margin-top: 30px;
  font-weight: 900;
  font-size: 80px;
  line-height: 1.2;
  color: white;
}

.ai-tool a.start {
  display: block;
  width: 150px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 50px 0;
}


/* Arrow */
.arrow {
  margin: 100px 0;
  display: flex;
  justify-content: end;
  align-items: center;
  overflow: hidden;
}

.arrow img {
  width: 180px;
  vertical-align: middle;
  visibility: hidden;
}

.arrow img:nth-child(3) {
  animation: slide-up 4s ease-in-out infinite;
}

.arrow img:nth-child(2) {
  animation: slide-up 4s ease-in-out 0.2s infinite;
  animation-delay: 0.2s;
}

.arrow img:nth-child(1) {
  animation: slide-up 4s ease-in-out 0.4s infinite;
  animation-delay: 0.4s;
}

@-webkit-keyframes slide-up {
  0% {
    transform: translateY(100%);
    visibility: hidden;
  }
  40% {
    transform: translateY(0%);
    visibility: visible;
  }
  84% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    visibility: hidden;
  }
  40% {
    transform: translateY(0%);
    visibility: visible;
  }
  84% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}
/* Arrow End*/

/* Our Service */
.service-box {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 900;
  margin-bottom: 50px;
}

.service-box h2.our-service {
  width: 40%;
  font-size: 32px;
  line-height: 1.5;
}

.service-box p.our-service-p {
  width: 46%;
  font-size: 40px;
  line-height: 1.5;
}
/* Our Service End */

/* Pros */
.pros-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 150px 0;
}

.pros-box .pros {
  width: 32.5%;
  border: 1px solid #666666;
  border-radius: 20px;
  padding: 80px 40px;
  color: white;
}

.pros-box .pros img {
  width: 50px;
}

.pros-box .pros h3 {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.2;
  margin: 10px 0;
}

.pros-box .pros p {
  font-weight: 400;
  line-height: 1.5;
}
/* Pros End*/

/* sponsor */
.sponsor {
  margin: 150px 0;
  position: relative;
}

.sponsor::before {
  content: "";
  position: absolute;
  left: -5px;
  bottom: 0;
  width: 25%;
  height: 120px;
  z-index: 1;
  background: linear-gradient(to right, black, rgba(255, 255, 255, 0));
}

.sponsor::after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: 0;
  width: 25%;
  height: 120px;
  z-index: 1;
  background: linear-gradient(to left, black, rgba(255, 255, 255, 0));
}

.sponsor h3 {
  font-size: 32px;
  font-weight: 900;
  color: white;
  margin-bottom: 60px;
}

.sponsor .sponsor-logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.sponsor .sponsor-logo .logo-1, .sponsor .sponsor-logo .logo-2 {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
}

.sponsor .sponsor-logo .logo-1 img, .sponsor .sponsor-logo .logo-2 img {
  width: 15%;
  padding: 0;
  margin: 10px;
  display: inline-block;
}

.sponsor .sponsor-logo .logo-1 {
  padding-left: 80px;
}
/* sponsor end*/
 

/* review */
.review-wrap {
  margin: 150px 0;
  clear: both;
  display: flex;
  justify-content: space-between;
}

.review-wrap .review-card {
  width: 32.5%;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}

.review-wrap .review-card .star {
  margin-bottom: 10px;
}

.review-wrap .review-card .star img {
  width: 14px;
}

.review-wrap .review-card p {
  color: white;
  line-height: 1.5;
  margin-bottom: 20px;
  flex-grow: 1;
}

.review-wrap .review-card .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-wrap .review-card .info .avatar {
  width: 48px;
  margin-right: 10px;
}

.review-wrap .review-card .info .avatar img {
  width: 48px;
}

.review-wrap .review-card .info .bio {
  flex: 1;
  color: white;
  line-height: 1.5;
}
/* review end */


/* whitearea */
.whitearea {
  width: 100%;
  padding: 160px 20px;
  background-color: white;
  border-radius: 160px;
  margin-bottom: 158px;
}

.content {
  max-width: 1298px;
  margin: 0 auto;
}

.content h2 {
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 80px;
  color: black;
  text-align: center;
}

.content .search-box {
  max-width: 1298px;
  background: white;
  border-radius: 16px;
  padding: 20px 50px;
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.content .search-box input[type="search"] {
  border: none;
  line-height: 1.5;
  width: 100%;
  padding: 5px;
  background: white;
}

.content .search-box i {
  position: absolute;
  left: 30px;
  top: 27px;
  color: #999999;
}

.content .search-box i img {
  width: 18px;
}

.content .filter-box {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 30px;
}

.content .filter-box a .filter {
  order: 1;
  display: block;
  width: 132px;
  border: 1px solid white;
  border-radius: 16px;
  padding: 20% 30% 20% 40%;
  color: black;
}

.content .filter-box a .filter span {
  display: inline-block;
  margin-right: 5px;
  color: black;
}

.content .filter-box a.filter img {
  width: 17px;
  vertical-align: middle;
}

.content .filter-box .sort {
  order: 3;
  position: relative;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: black;
  border: 1px solid white;
  border-radius: 16px;
  cursor: pointer;
}

.content .filter-box .sort select {
  width: 164px;
  margin: 0;
  padding: 20px 32px 20px 40px;
  outline: none;
  background-color: transparent;
  appearance: none;
  color: black;
  border: none;
  list-style: 1.5;
}

.content .filter-box .sort i {
  position: absolute;
  right: 40px;
  top: 20px;
  color: #999999;
}

.content .filter-box .sort i img {
  width: 18px;
}

.content .filter-box .menubar {
  order: 2;
  flex: 1;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  white-space: nowrap;
}

.content .filter-box .menubar a {
  display: block;
  margin: 0 5px;
  padding: 8px 16px;
  border-radius: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #999999;
}

.content .filter-box .menubar .active {
  background-color: white;
  color: black;
}

  /* Card Start*/
.content .card-content {
  max-width: 1298px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content .card {
  width: 32.5%;
  margin-bottom: 25px;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}


.content .card .card-img {
  vertical-align: middle;
  transform: scale(1, 1);
  transition: all 0.3s ease-out;
}

.content .card .card-img img:hover {
  transform: scale(1.2, 1.2);
}

.content .card .card-info {
  display: block;
  flex-grow: 1;
  padding: 20px 32px;
  border-bottom: 1px solid white;
}

.content .card .card-info h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 900;
  margin-bottom: 12px;
}

.content .card .card-info p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #999999;
}

.content .card .card-author {
  padding: 20px 32px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 24px;
  color: black;
}

.content .card .card-author .card-autor span {
  font-weight: normal;
  width: 50%;
  font-weight: 700;
}

.content .filter-box a.filter img {
  width: 17px;
  margin: -5px 0 0 3px;
  vertical-align: middle;
}

.content .card .card-author .name {
  width: 50%;
  font-weight: 400;
  text-align: right;
}

.content .card .card-tag {
  padding: 20px 32px;
  line-height: 24px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .card .card-tag p {
  display: block;
  color: black;
}


.content .card .card-tag img {
  border: none;
  width: 18px;
  height: 18px;
  background-size: contain;
  color: black;
}
/* Card End*/

/* Pages */
.content .pages {
  max-width: 1298px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.content .pages a {
  display: inline-block;
  padding: 15px 20px;
  color: black;
  border-radius: 16px;
  font-size: 14px;
  line-height: 1.5;
  margin-right: 4px;
}

.content .pages a:hover {
  background: black;
  color: white;
}

.content .pages a:nth-last-child(1) {
  padding: 15px 18px;
}

.content .pages a:nth-last-child(1) img {
  vertical-align: middle;
}

.content .pages a:nth-last-child(1):hover {
  background-color: white;
}
/* Pages End */

/* Start Service */
.start-service {
  max-width: 1298px;
  text-align: center;
  margin: 0 auto 150px auto;
  padding: 0 20px;
}

.start-service h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
  color: white;
  margin-bottom: 30px;
}

.start-service a.start {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto;
}

.start-service a.start:hover {
  background-color: white;
  border: 1px solid white;
  color: black;
}

.start-service a.start img {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
/* Start Service End*/

.submenu {
  max-width: 1298px;
  margin: 100px auto 20px auto;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 80px 20px;
  display: flex;
  justify-content: space-between;
}

.submenu .menu a {
  display: block;
  color: white;
  font-size: 60px;
  line-height: 96px;
  font-weight: 900;
  margin-bottom: 8px;
}

.submenu .menu a:hover {
  color: white;
}

.submenu .sublogo {
  width: 400px;
}

.footer {
  max-width: 1298px;
  margin: 0 auto 30px auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: white;
}

.footer h4.copyright {
  margin-right: 100px;
}

.footer .social-media {
  flex: 1;
  display: flex;
  justify-content: start;
}

.footer .social-media a {
  margin: 0 20px 0 0;
  color: white;
}

.footer .back-to-top {
  text-align: right;
  flex: 1;
  color: white;
}

.footer .back-to-top img {
  width: 11px;
}
/* Website End */


/* Pad */
@media screen and (max-width: 768px) {
  .header {
    padding-bottom: 60px;
  }
  .navbar {
    padding: 15px 5px;
  }
  .navbar a.logo {
    display: block;
    flex: 1;
  }
  .navbar a.logo img {
    width: 150px;
  }
  .ai-tool h1 {
    font-size: 60px;
  }
  .service-box {
    margin-bottom: 30px;
  }
  .service-box .our-service {
    width: 33%;
  }
  .service-box .our-service-p {
    width: 60%;
    font-size: 30px;
  }
/* Pros */
  .pros-box {
    margin: 60px 0;
  }
  .pros-box .item {
    width: 30%;
    border: 1px solid #666666;
    border-radius: 20px;
    padding: 30px 20px;
    color: white;
    flex-grow: 1;
    margin: 5px;
  }
 /* Pros End*/

  
  .sponsor {
    margin: 60px 0;
  }
  .sponsor .sponsor-logo {
    display: blok;
    width: 100%;
  }
  .sponsor .sponsor-logo img {
    margin: 5px;
    display: block;
  }
  .review-wrap {
    margin: 0;
    flex-wrap: wrap;
  }
  .review-wrap .review-card {
    width: 100%;
    margin-bottom: 10px;
  }
  .whitearea {
    padding: 80px 30px;
    border-radius: 80px;
    margin-bottom: 60px;
  }
  .content h2 {
    font-size: 60px;
    line-height: 1.2;
  }
  .content .card-content {
    padding: 20px 0;
  }
  .content .card-content .card {
    width: 49%;
  }
  
  .start-service {
    margin: 0 20px 60px 20px;
  }
  .submenu {
    margin: 100px 10px 10px 10px;
    padding: 80px 15px;
    flex-wrap: wrap;
  }
  .submenu .menu {
    order: 2;
    width: 100%;
  }
  .submenu .menu a {
    display: block;
    color: white;
    font-size: 45px;
    line-height: 96px;
    font-weight: 900;
    margin-bottom: 8px;
  }
  .submenu .sublogo {
    width: 320px;
    margin-bottom: 30px;
  }
  .footer {
    flex-wrap: wrap;
  }
  .footer h4.copyright {
    width: 50%;
    order: 1;
    margin-right: 10px;
  }
  .footer .social-media {
    width: 100%;
    order: 3;
    margin: 20px 0 0 0;
  }
  .footer .back-to-top {
    width: 50%;
    order: 2;
  }
}
/* Pad END*/


/* Phone */
@media screen and (max-width: 414px) {
  .header {
    padding: 0 10px;
    padding-bottom: 60px;
  }
  .navbar {
    flex-wrap: wrap;
  }
  .navbar li.menu {
    display: none;
  }
  .navbar .menu-switch {
    display: block;
  }
  .ai-tool h1 {
    font-size: 40px;
    width: 80%;
    line-height: 1.3;
  }


  .arrow {
    justify-content: center;
  }
  .arrow img {
    width: 30%;
  }
  .service-box {
    display: block;
    margin-bottom: 30px;
  }
  .service h2.our-service {
    width: 100%;
    font-size: 20px;
    margin-bottom: 24px;
  }
  .service p.our-service-p {
    width: 100%;
    font-size: 25px;
    line-height: 1.2;
  }
  .pros-box {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 60px 0;
    padding: 0;
    align-items: center;
  }
  .pros-box .pros {
    width: 100% ;
    flex-direction: column;
  }

  .pros-box .item {
    width: 100%;
    padding: 40px 20px;
    margin: 5px 0;
  }
  .pros-box .item img {
    width: 75px;
  }
  .pros-box .item h3 {
    margin: 20px 0;
  }
  .review-wrap {
    margin: 0;
    flex-wrap: wrap;
  }
  .review-wrap .review-card {
    width: 100%;
    margin-bottom: 10px;
  }


  .whitearea {
    padding: 160px 10px;
    border-radius: 10px;
    margin-bottom: 60px;
  }

  .content h2 {
    font-size: 32px;
    margin: 0 0 32px 0;
    text-align: center;
    line-height: 1.2;
  }
  .content .card-content {
    ppadding: 0;
  }
  .content .card-content .card {
    width: 100%;
  }
  

  .start-service {
    margin: 120px 10px;
  }
  .start-service h2 {
    font-size: 32px;
    padding: 0;
  }
  .submenu .menu a {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  .submenu .sublogo {
    order: 1;
    width: 280px;
    margin-bottom: 30px;
  }
  .footer {
    padding: 10px;
  }
}
